*{box-sizing: border-box;}
.apptitle{
    text-align: center;
    color: darkslateblue;
}

.appcontainer{
    display: flex;
    justify-content: space-evenly;
}

/* card.js */
.card{
    width: 100%;
    border-radius: 5px;
    background-color:white;
    text-align: center;
    padding: 1rem;
}

img{width: 100%; display: block;}
.content{
    font-size: 1.2rem;
    color:darkblue;
    font-weight: bolder;
}
.metadata{
    color: gray;

}

/* user_feedback.js */
.feedbackcard{
    width: 30%;
    border: solid 2px gray;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    background-color: white;
}

.cardfooter{
    background: color #888;
    color:white;
    padding: 0.2rem;
}

.description{margin-bottom: 2rem;}
.feedbackcard:hover{
    box-shadow: 0px 0px 5px 1px gray;
    transform: scale(1.01);
    overflow: hidden;
}