*{box-sizing: border-box;}
.subtitle{color: gray; font-style: italic;}
img{width: 100%; display: block;}
.introimg{
  border: ridge 20px lightblue;
  width: 500px;
}
.footer{
  margin-top: 2rem;
  padding:  2rem;
  background-color: black;
  color: aliceblue;
  text-align: center;
}